[submodule "strimzi-cluster-operator"]
	path = strimzi-cluster-operator
	url = https://github.com/robin-carry/strimzi-cluster-operator.git
[submodule "kafka-cluster"]
	path = kafka-cluster
	url = https://github.com/robin-carry/kafka-cluster
[submodule "kafka-connect-cluster"]
	path = kafka-connect-cluster
	url = https://github.com/robin-carry/kafka-connect-cluster
[submodule "kafka-ui-redpanda-console"]
	path = kafka-ui-redpanda-console
	url = https://github.com/robin-carry/kafka-ui-redpanda-console
